body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    padding: 30px;
    text-align: center;
    width: 300px;
    transition: transform 0.3s;
}

.container:hover {
    transform: scale(1.05);
}

.profile-pic {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 15px;
    border: 3px solid #032446;
}

h1 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
}

.description {
    margin-bottom: 20px;
    color: #666;
    font-size: 14px;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #032446;
    color: white;
    text-decoration: none;
    padding: 15px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.link:hover {
    background-color: #240957;
    transform: translateY(-2px);
}

.link i {
    margin-right: 10px;
}

footer {
    margin-top: 20px;
    font-size: 12px;
    color: #999;
}